div(ng-include='\'partials/global/header\'')

.row-fluid.view.party-broadcast(ng-repeat="broadcast in broadcasts",ng-class="broadcast.state")
  hr
  div.col-xs-12.col-sm-2
    p.id {{broadcast._id}}
    p.type {{broadcast.type}}
  div.col-xs-12.col-sm-2
    p.content {{broadcast.content}}
  div.col-xs-12.col-sm-2
    p.state {{broadcast.state}}
  div.col-xs-12.col-sm-2
    p.runAt {{broadcast.runAt | date:'short'}}
  div.col-xs-12.col-sm-2
    p.runSeconds {{broadcast.runSeconds}}
  div.col-xs-12.col-sm-2
    a.btn.btn-primary(ng-click="editBroadcast(id)") Edit
  .clearfix


.row-fluid
  hr
  .col-xs-12.col-sm-6
    h3 Create New Broadcast
    form#broadcast-form(ng-submit="addBroadcast()")
      input#new-broadcast(placeholder="New Broadcast Name",ng-model="newBroadcast",autofocus="")

//
  .row-fluid.mmf-admin-row
    .col-xs-12.col-sm-6(ng-show="broadcasts.length")
      h2 Manage Broadcasts
      span#broadcast-countstrong {{remainingCount}}
        ng-pluralize(count="remainingCount",when="{ one: 'item left', other: 'items left' }")
        ul#filters
          li
            a(ng-class="{selected: status == ''}", href="/admin/broadcast?") All
          li
            a(ng-class="{selected: status == 'active'}", href="/admin/broadcast?q=active") Active
          li
            a(ng-class="{selected: status == 'completed'}", href="/admin/broadcast?q=completed") Completed
        button#clear-completed(ng-click="clearCompletedBroadcasts()",ng-show="completedCount") Clear completed ({{completedCount}})
