div(ng-include='\'partials/navbar\'')

.jumbotron
  h1 PartyBot

//
  .row.marketing
    div(ng-repeat='thing in awesomeThings')
      h4 {{thing.name}}
      p {{thing.info}}

.row

.footer
  p
    strong PartyBot
    | &nbsp;by&nbsp;
    a(href="http://www.outrightmental.com", target="_blank") Outright Mental Inc.